html, body{
    color:white;
    background: #21232a;
    font-family: 'Helvetica';
    font-size: 1.3rem;
    text-align: center;
}

h1{
    text-align: center;
    margin-top: 70px;
}

h2{
    text-align: center;
}

button{
    padding: 10px;
    font-size: 1.3rem;
    margin-right: 10px;
}
